[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
httpx = "*"
mkdocs-literate-nav = "*"
mkdocs-mermaid2-plugin = "*"

[dev-packages]

[requires]
python_version = "3.13"
